<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div sec:authorize="isAuthenticated()">

<h1>Bienvenido a la sesion</h1>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesion</button>
    </form>

    <a href="/addUser">Agregar usuario</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Nombre usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.nombreUsuario}"></td>
        <td th:text="${usuario.Password}"></td>
        <td>
        <form th:action="@{/usuario/front/{id}(id=${usuario.nombreUsuario})}" th:method="delete">
        <button type="submit" >Delete</button>
        </form>
            <form th:action="@{/usuario/front/{id}(id=${usuario.nombreUsuario})}" th:method="get">
                <button type="submit" >Editar</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/login">Iniciar sesion</a>
</div>

</body>
</html>